 <main role="main">

   <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
     <ol class="carousel-indicators">
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
       <div class="carousel-item active">
         <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
         <img class="d-block w-100" src="assets/images/2.png" alt="First slide">
         <div class="container">
           <div class="carousel-caption black-text">
             <h1 class="black-test">Vous avez perdu votre chat ou chien ?</h1>
             <p class="text-right">Vous êtes à la recherche de votre animal de compagnie, vous pouvez déposer une annonce en cliquant sur le lien suivant.</p>
             <p><a class="btn btn-lg btn-primary text-right" routerLink="/animalperdu" role="button">Déposer votre annonce</a></p>
           </div>
         </div>
       </div>
       <div class="carousel-item">
         <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
         <img class="d-block w-100" src="assets/images/3.png" alt="First slide">
         <div class="container">
           <div class="carousel-caption">
             <h1>Vous avez trouvé un animal errant ?</h1>
             <p>Nous vous aidons à retrouver son propriétaire, laissez votre annonce avec le lien suivant.</p>
             <p><a class="btn btn-lg btn-primary" href="#" role="button">Déposer votre annonce</a></p>
           </div>
         </div>
       </div>
       <div class="carousel-item">
         <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
         <img class="d-block w-100" src="assets/images/1.png" alt="First slide">
         <div class="container">
           <div class="carousel-caption text-left">
             <h1>Vous souhaitez adopter un animal ?</h1>
             <p>Nous serions heureux de pouvoir vous aider à trouver l'animal qui vous correspond.</p>
             <p><a class="btn btn-lg btn-primary" href="#" role="button">Chercher un animal</a></p>
           </div>
         </div>
       </div>
     </div>
     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
   </div>
     <!-- FOOTER -->
     <footer class="container">
       <p class="float-right"><a href="#">Back to top</a></p>
       <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
     </footer>
   </main>

