<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>ADRA Redessan</title>
  <link href="assets/params/css/starter-template.css" rel="stylesheet">

</head>
  <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" routerLink="/login" routerLinkActive="active">ADRA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/accueil" routerLinkActive="active">Accueil <span class="sr-only">(current)</span></a>
              </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Adoption <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Animaux trouvés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Animaux perdus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Boutique</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>
    <router-outlet></router-outlet>

