<div class="container">
  <form>
    <fieldset>
      <legend>Entrez un maximum d'information</legend>

      <div class="form-group row">
        <label for="nom" class="col-auto col-form-label">Nom</label>
        <div class="col">
          <input type="text" class="form-control" id="nom" placeholder="Saisir votre nom">
        </div>
      </div>
      <div class="form-group row">
        <label for="prenom" class="col-auto col-form-label">Prénom</label>
        <div class="col">
          <input type="text" class="form-control" id="prenom" placeholder="Saisir votre prénom">
        </div>
      </div>
      <div class="form-group row">
        <label for="mail" class="col-auto col-form-label">Mail</label>
        <div class="col">
          <input type="email" class="form-control" id="mail" placeholder="Saisir votre adresse mail">
        </div>
      </div>

      <div class="form-group">
        <label for="email">Entrez votre mail</label>
        <input type="email" class="form-control" id="email" placeholder="pierre.giraud@edhec.com">
      </div>

      <div class="form-group">
        <label for="selection">Une liste select</label>
        <select id="selection" class="form-control">
          <option value="">Liste de choix...</option>
          <optgroup label="Groupe d'options 1">
            <option value="">Option 1</option>
            <option value="">Option 2</option>
            <option value="">Option 3</option>
          </optgroup>
          <optgroup label="Groupe d'options 2">
            <option value="">Option 4</option>
            <option value="">Option 5</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <label for="bio">Biographie</label>
        <textarea class="form-control" id="bio" rows="3"></textarea>
      </div>
    </fieldset>
  </form>
</div>
<div class="container">
  <h1>Formulaires</h1>
  <form>
    <div class="form-group row">
      <label for="emailpetit" class="col-auto col-form-label col-form-label-sm">Email</label>
      <div class="col">
        <input type="email" class="form-control form-control-sm" id="emailpetit" placeholder="col-form-label-sm">
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-auto col-form-label">Email</label>
      <div class="col">
        <input type="email" class="form-control" id="email" placeholder="col-form-label">
      </div>
    </div>
    <div class="form-group row">
      <label for="emailgrand" class="col-auto col-form-label col-form-label-lg">Email</label>
      <div class="col">
        <input type="email" class="form-control form-control-lg" id="emailgrand" placeholder="col-form-label-lg">
      </div>
    </div>
  </form>
</div>
